/*
#
# Page loading
#
*/

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.loadmessage {
  position: absolute;
  z-index: 1002;
  top: 200px;
  text-align: center;

  width: 100%;
}

.loaded .loadmessage {
opacity: 0;
height:0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #005389;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #ffd400; 

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #005389;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
      /*   background: #222222; */
      background: #fff;
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }
    
    /* JavaScript Turned Off */
    .no-js #loader-wrapper {
        display: none;
    }
    .no-js h1 {
        color: #222222;
    }

    #content {
        
        /*padding-bottom: 50px;
        width: 80%;
        max-width: 978px;
        margin: 5px auto;*/
    }  



/*
#
# Kartan
#
*/


#map-container{
        -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

	position: relative;
    width:990px;
    overflow: hidden;
    
    border-style: solid;
    border-width: 1px 1px 2px 1px;
    border-color: #ccc;
    background-color: #ebeced;
      margin-top: 90px;

}

#map-container #map {
    position: relative;
    top:-30px;

    width:100%;
    height: 400px;
    overflow: hidden;
    z-index: 0;
      border-bottom: 1px solid #ccc;

}

#map img {max-width: inherit !important; max-height: inherit !important;}



#map-container #map-controll-container{
    position: relative;
    width: 100%;
    min-height: 20px;
    z-index: 1;

    background-color: rgba(255,255,255,0.6);
}

#map-container #map-timeslider-container{
    position: relative;
    top:390px;
    width: 400px;
    min-height: 20px;
    z-index: 1;
    margin-right: auto;
    margin-left: auto;
    opacity: 0;

    
}

.ui-rangeSlider {
  padding-top: 0 !important;
  }

  .ui-rangeSlider-bar {
  background: #005389 !important;
  margin: 0 !important;
  height: 12px !important;
  }


 .ui-rangeSlider-container {
  background: rgba(235,236,237,0.9) !important;
  border: 0 !important ;
  height: 12px !important;
}

.ui-rangeSlider-arrow,.ui-rangeSlider-label {
  background: #005389 !important;
  color: #fff !important;
  font-size: 10px !important;
} 


.ui-rangeSlider-label-inner {
  border-top: 10px solid #005389 !important;
}


/*
#
# Map controll menu
#
*/

#cssmenu {
  font-size: 14px;
  line-height: 15px;
  text-align: left;
}
#cssmenu > ul {
  width: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #ffffff;
  border: 1px solid #ece6e8;
  border-bottom: 3px solid #d9ced2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

#cssmenu > ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
#cssmenu > ul li.right {
  float: right;
}
#cssmenu > ul li.has-sub {
  position: relative;
}
#cssmenu > ul li.has-sub:hover ul {
  display: block;
}
#cssmenu > ul li.has-sub ul {
  display: none;
  width: 250px;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #ffffff;
  border: 1px solid #ece6e8;
  border-bottom: 3px solid #d9ced2;
  border-top: 0 none;
}
#cssmenu > ul li.has-sub ul li {
  display: block;
}
#cssmenu > ul li.has-sub > a {
  background-image: url('../img/caret.png');
  background-repeat: no-repeat;
  background-position: 90% -95%;
}
#cssmenu > ul li.has-sub > a.active,
#cssmenu > ul li.has-sub > a:hover {
  background: #005389 url('../img/caret.png') no-repeat;
  background-position: 90% 195%;
}
#cssmenu > ul li a {
  display: block;
  padding: 12px 24px 11px 24px;
  text-decoration: none;
  color: #747474;
  text-shadow: 0px 1px 0px #fff;
}
#cssmenu > ul li a.active,
#cssmenu > ul li a:hover {
  background: #005389;
  color: #fff;
  text-shadow: 0px 1px 0px #000;
}

#cssmenu > ul > li.collapsed {
    display: inline-block !important;
    *display: inline;
    zoom: 1;
  }
#cssmenu > ul ul li.collapsed {
    display: block !important;
  }



/*
#
# Time slider
#
*/


#map-timeslider-container form {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 200px;
}

#map-timeslider-container form input[type="text"]{
width: 50px;
background-color: rgba(255,255,255,0.6);
border:0;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;

}



/*
#
# Widgets
#
*/



#widget-container, #subwidget-container{
width: 100%;
}

.widget {
    width: 315px;
    height: 300px;
    overflow: hidden; 
   
    float: left;
    display: block;
    /*margin: 0px 3px 3px 3px;*/

    background-color: #fff;

    margin-bottom: 10px;
    /*margin right: 1px;*/
      -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.widgetLarge{
    width: 637px;
    height: 300px;
    overflow: hidden; 
   
    float: left;
    display: block;
    /*margin: 0px 3px 3px 3px;*/

    background-color: #fff;
    margin-left: 10px;
    margin-bottom: 10px;
    /*margin right: 1px;*/
      -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.widgetLarge .widgethead{
    width: 103%;
margin-left:-3%;


    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

     /*background-color: #005389;
    color: #fff;*/

    padding: 12px 8px;

    /* Flirting with SL */

    background-color: #fafafa;
    color: #005389;
    font-size: 130%;
}

#muniCommentText{
overflow:auto;
background:transparent;
border: none;

}
#muniDescriptionText{
overflow:auto;
background:transparent;
border: none;
}

.widgetLarge .widgethead img {
  height: 20px;
  float: left;
  margin-right: 10px;
}

.widget:nth-child(3n+2){
  margin-right: 10px;
  margin-left: 10px;
}

.widget .widgethead {
    width: 100%;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

     /*background-color: #005389;
    color: #fff;*/

    padding: 12px 8px;

    /* Flirting with SL */

  background-color: #fafafa;
  color: #005389;
  font-size: 130%;
}

.widget .widgethead img {
  height: 20px;
  float: left;
  margin-right: 10px;
}


.widget .widgethead .widgetclose{
  float:right;
  width: 10px;
  color:#fff;
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  margin-right: 10px;
  line-height: 18px;
}



/*
#
# Tab menu
#
*/

#tabmenu{
      -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  width: 100%;
  height: 350px;
  display: block;
  list-style: none;
  
  position: relative;
  top:-30px;


}



#tabmenu #tabs{
  position: relative;
  top: -28px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  z-index: 1;
  
}



#tabmenu #tabs li{
  display: inline;
  margin-left: -12px;

}

#tabmenu #tabs #clearButton{
  float: right;
  position: relative;
  
  margin-top: -12px;
  margin-right: 12px;

  color: #fff;
  cursor: pointer;
  /* font-weight: 900; */
  outline: none;
  /* font-family: 'Raleway', sans-serif; */
  /* padding: 8px 0px; */
  width: 105px;
  font-size: 15px;
  background:#1f548e;
  border:3px solid #1f548e;
}

#tabmenu #tabs #clearButton:hover {
  background: #fff;
  color:#1f548e;;
  border:3px solid #1f548e;;

}


#tabmenu #tabs a{
  text-decoration: none;  
  color: #005389;

  position: relative;
  padding: 10px 45px;
  background-color: rgba(240, 240, 240, 0.7);
  border-radius: 8px 20px 0 0;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ccc;
  z-index: 1;
}

#tabmenu #tabs a:visited{
  text-decoration: none;
  color: #005389;
  }

  #tabmenu #tabs a:hover{
  text-decoration: none;
  color: #999;
  background-color: rgba(255, 255, 255, 0.9);
  color: #005389;
  
  }

#tabmenu #tabs a::after{ 

}


#tabmenu #tabs #active{
  position: relative;
 z-index: 2;
 background-color: #ebeced;
border-bottom: 0;
padding-bottom: 12px;


 color: #005389;
}



#tabmenu #tabcontent{
  position: relative;
  width: 100%;
  min-height: 300px;
  padding: 0 10px 10px 10px;
  
}

#tabmenu #tabcontent #tabhem{
position: relative;
width: 100%;
max-height: 100%;
padding: 0px 5px 5px 5px;


}




#tabmenu #tabcontent #tabhem #welcome-leftcontainer h1{
  font-size:14px;
  color:#005389 !important;

}

#tabmenu #tabcontent #tabhem #welcome-leftcontainer img{
  max-width: 170px;
  margin: 0 auto 15px auto;

}

#tabmenu #tabcontent #tabhem #welcome-leftcontainer ul li {
  margin: 5px 10px;
    
  list-style-type: disc ;

}



#tabmenu #tabcontent #tabhem #welcome-leftcontainer{
  font-size:12px;

}

#tabmenu #tabcontent #tabhem #welcome-leftcontainer, #tabmenu #tabcontent #tabhem #middle-container {
 position: relative;
 min-height: 375px;
 width: 33%;
 float:left;
 padding: 10px;
 background-color: #fff;
 
}
#tabmenu #tabcontent #tabhem #right-container {
 position: relative;
 min-height: 162.5px;
 width: 33%;
 float:left;
 padding: 10px;
 background-color: #fff;
}
#tabmenu #tabcontent #tabhem #right-container-down {
 position: relative;
 max-height: 187.5px;
 margin-top: 5px;
 width: 33%;
 float:left;
 padding: 10px;
 background-color: #fff;
}




#tabmenu #tabcontent #tabhem #middle-container {
   margin: 0px 4px 0px;
}

#right-container-down .idag-container{
display: block;
width: 100%;
clear: both;
float:none;
margin: 0;


}


.idag-container .amountToday{
  font-family:Arial;
  font-size:50px;
  color:#1f548e;
  margin-left: 10px;
  
}




::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 

}
 
::-webkit-scrollbar-thumb {

    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.5); 
}


.image-overlay {
 visibility: hidden;
 }

.icon-size {
	height:22px !important;
	  margin-top: -1px;
}

.info-icon-size {
	height: 16px !important;
	margin-top:5px;
}
