
/*
#
# Kartan
#
*/


#map-container{

	position: relative;
    width:100%;
    min-width: 400px;
    overflow: hidden;
    top: -10px;
}

#map-container #map {
    position: relative;

    width:100%;
    height: 400px;
    overflow: hidden;
    z-index: 0;

}

#map img {max-width: inherit !important; max-height: inherit !important;}

#map-container #map-controll-container{
    position: relative;
    width: 100%;
    min-height: 20px;
    z-index: 1;

    background-color: rgba(255,255,255,0.6);
}

#map-container #map-timeslider-container{
    position: relative;
    width: 100%;
    min-height: 20px;
    z-index: 1;
    bottom: 20px;

    background-color: rgba(255,255,255,0.6);
}


/*
#
# Map controll menu
#
*/

#cssmenu {
  font-size: 14px;
  line-height: 15px;
  text-align: left;
}
#cssmenu > ul {
  width: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #ffffff;
  border: 1px solid #ece6e8;
  border-bottom: 3px solid #d9ced2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

#cssmenu > ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
#cssmenu > ul li.right {
  float: right;
}
#cssmenu > ul li.has-sub {
  position: relative;
}
#cssmenu > ul li.has-sub:hover ul {
  display: block;
}
#cssmenu > ul li.has-sub ul {
  display: none;
  width: 250px;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #ffffff;
  border: 1px solid #ece6e8;
  border-bottom: 3px solid #d9ced2;
  border-top: 0 none;
}
#cssmenu > ul li.has-sub ul li {
  display: block;
}
#cssmenu > ul li.has-sub > a {
  background-image: url('../img/caret.png');
  background-repeat: no-repeat;
  background-position: 90% -95%;
}
#cssmenu > ul li.has-sub > a.active,
#cssmenu > ul li.has-sub > a:hover {
  background: #005389 url('../img/caret.png') no-repeat;
  background-position: 90% 195%;
}
#cssmenu > ul li a {
  display: block;
  padding: 12px 24px 11px 24px;
  text-decoration: none;
  color: #747474;
  text-shadow: 0px 1px 0px #fff;
}
#cssmenu > ul li a.active,
#cssmenu > ul li a:hover {
  background: #005389;
  color: #fff;
  text-shadow: 0px 1px 0px #000;
}

#cssmenu > ul > li.collapsed {
    display: inline-block !important;
    *display: inline;
    zoom: 1;
  }
#cssmenu > ul ul li.collapsed {
    display: block !important;
  }



/*
#
# Time slider
#
*/


#map-timeslider-container form {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 200px;
}

#map-timeslider-container form input[type="text"]{
width: 50px;
background-color: rgba(255,255,255,0.6);
border:0;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;

}



/*
#
# Widgets
#
*/



#widget-container, #subwidget-container{
width: 100%;
}

.widget {
    width: 323px;
    height: 300px;
    overflow: hidden; 
   
    float: left;
    display: block;
    /*margin: 0px 3px 3px 3px;*/

    background-color: #fff;

    /* Ta bort sen: */
    
    border: 1px solid #d9ced2;
    margin-bottom: 10px;
    /*margin right: 1px;*/
      -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.widget:nth-child(2n){
  margin-right: 10px;
  margin-left: 10px;
}

.widget .widgethead {
    width: 100%;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    background-color: #005389;
    color: #fff;
    padding: 6px 4px 6px 4px;
}

.widget .widgethead img {
  height: 20px;
  float: left;
  margin-right: 10px;
}

.widget .widgethead .widgetclose{
  float:right;
  width: 10px;
  color:#fff;
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  margin-right: 10px;
  line-height: 18px;
}


