/* 
############################################
########### Header Container ###############
############################################
*/



#header-container{
	background: #005389;
}


#header-container #top {
	float: none;
  	position: relative;
  	max-width: 990px;
  	margin: 0 auto;
	 padding: 10px 32px 10px 32px;
  
}


/* 
############################################
################ Logo ######################
############################################
*/


#header-container #top>a {
	  float: left;
  text-decoration: none;
  display: inline-block;
  width: 170px;
  height: 43px;
}


#header-container #top>a>img {
	width: 167px;
	height: 42px;
}


/* 
############################################
################ Menu ######################
############################################
*/


#header-container #top #topMenu {
  float: right;
  padding: 21px 0 0 0;
  position: relative;
  bottom: 8px;
  font-size: 14px;
}

#header-container #top #topMenu>ul {
  overflow: hidden;
}

#header-container #top #topMenu>ul>li {
  float: left;
  padding: 0 0 0 1em;

}

#header-container #top #topMenu>ul>li:first-child {
	padding: 0;
}

#header-container #top #topMenu ul li a {
	font-size: 16px;
  	padding: 0 5px 0 5px;

}



#header-container #top #topMenu>ul>li>a {
  font-size: 16px;
  padding: 0 5px 0 5px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

#header-container #top #topMenu>ul>li>a:hover {
  text-decoration: underline;
}



/* 
############################################
################## UserBox #################
############################################
*/


#header-container #top #usernamediv{
  position: relative; 
  float: right;
  padding: 21px 0 0 0;
	bottom: 8px;
	font-size: 14px;
	color:#fff;
  padding-left: 32px;

}

#header-container #top #usernamediv a {
  color:#ff0000;
}





/* 
############################################
############# Gul Border ###################
############################################
*/

#border-container {
  overflow: hidden;
  background: #fff;
  margin: 0 auto;
  max-width: 990px;
}

#border-container #border {
  border-top: 12px solid #ffd400;
  padding: 0 16px 0 16px;
 

}


